lisp/L1/#p1.lsp#
lisp/L1/p1.lsp~
lisp/L1/p3.lsp~
lisp/L2/#ex1.lsp#
lisp/L2/ex1.lsp
lisp/L2/ex1.lsp~
lisp/L3/elisei.lsp
prolog/p1/ex1.pl~
prolog/p1/ex15.pl~
prolog/p1/ex2.pl
prolog/p1/ex2.pl~
prolog/p1/exx2.pl~
prolog/p3/ex1.pl~
prolog/p3/ex14.pl~
prolog/p3/perm.pl~
